*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;

}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/adriana.jpg");
}

.header-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font: 500 100%/1.5 system-ui;
}

.header-body-text{
    text-align: center;
}

.header-body-text h1{
    font-size: 100px;
}

.header-body-text h3{
    font-size: 70px;
}

.img-adriana {
    max-width: 100%;
    height: auto;
}

@media (max-width: 650px) {
    .header-body {
      display: block;
      font-size: 80%;
    }
    .header-body-text {
      text-align: center;
      position: relative;
      margin: -3rem 0 2rem 1rem;
      padding: 1rem;
      background: rgb(250, 250, 250);
    }

    .header-body-text h1{
        font-size: 80px;
    }

    .header-body-text h3{
        font-size: 50px;
    }
  }

nav{
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:rgb(0, 0, 0);
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width:100%;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(236, 236, 236);
    border: 1px solid rgb(236, 236, 236);
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}
.hero-btn:hover{
    background:rgb(236, 236, 236);
    transition: 0.3s;
    color:rgb(83, 83, 83);
}

.servicos{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}
.servicos h1{
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}
.servicos h3{
    text-align: center;
    font-size: 26px;
}
.servicos p{
    font-size: 24px;
    color: rgb(90, 90, 90);
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.servicos-col{
    flex-basis: 23%;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 20px 12px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.5s;
}
.servicos-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}
.servicos-col h3{
    padding-bottom: 10px;
}

@media(max-width: 1000px){
    .row{
        flex-direction: column;
    }
}

.sobre h1{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.sobre p{
    font-size: 24px;
    color: rgb(90, 90, 90);
}
.sobre{
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
    text-align: right;
}

.sobre img{
    border: 3px solid rgb(83, 83, 83);
    width: 400px;
    height: 500px;
}
.cv-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(83, 83, 83);
    border: 1px solid rgb(83, 83, 83);
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}
.cv-btn:hover{
    background: rgb(83, 83, 83);
    transition: 0.2s;
    color: rgb(255, 255, 255);
}

.servicossobre{
    background-color: rgb(250, 250, 250);
    /*background-image: url("images/adriana.jpg");*/
}

.contato{
    min-height: 70vh;
    width: 100%;
    
    background-image: linear-gradient(rgba(122, 122, 122, 0.9),rgba(122, 122, 122, 0.8)),url(images/adriana.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
    display: inline-block;
    text-align: left;

    color:rgb(250, 250, 250);
    margin: auto;
    padding-top: 50px;
}
.contato h1{
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10%;
}
.contato p{
    font-size: 25px;
    padding-left: 10%;
}
.emailLink{
    color:rgb(250, 250, 250);
    font-size: 30px;
}

.topo-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(83, 83, 83);
    border: 1px solid rgb(83, 83, 83);
    padding: 12px 34px;
    font-size: 22px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    float: center;
    margin-top: 40px;
}
.topo-btn:hover{
    background: rgb(83, 83, 83);
    transition: 0.2s;
    color: #fff;
}

.topo-btn-final{
    display: inline-block;
    text-decoration: none;
    color:rgb(236, 236, 236);
    border: 1px solid rgb(236, 236, 236);
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    float: left;
    margin-top: 40px;
    margin-left: 10%;
}
.topo-btn-final:hover{
    background: rgb(236, 236, 236);
    transition: 0.2s;
    color: rgb(83, 83, 83);
}

@media(max-width: 700px){    
    .contato{
        padding-bottom: 15px;
    }
    .contato h1{
        font-size: 40px;
        padding-left: 25px;
    }
    .contato p{
        font-size: 30px;
        padding-left: 25px;
    }
    .emailLink{
        font-size: 30px;
        padding-right: 5%;
    }

    .topo-btn-final{
        margin-left: 5%;
        margin-bottom: 3%;
    }
}
