*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(112, 5, 5, 0.9),rgb(112, 5, 5, 0.84)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 80px;
}
.text-box p{
    margin: 10px 0 20px;
    font-size: 50px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}
.hero-btn:hover{
    background: #ffffff;
    transition: 0.5s;
    color: rgb(83, 83, 83);
}
nav .fas{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 40px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(112, 5, 5);
        height: 100vh;
        width: 175px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.8s;
    }
    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

.servicos{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}
.servicos h1{
    font-size: 40px;
    padding-bottom: 20px;
}
.servicos p{
    font-size: 20px;
    color: #777;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.servicos-col{
    flex-basis: 48%;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 20px 12px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.5s;
}
.servicos-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}
.servicos-col h3{
    padding-bottom: 10px;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.sobre h1{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.sobre p{
    font-size: 20px;
    color: #777;
}
.sobre{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.sobre img{
    border: 3px solid rgb(112, 5, 5);
}
.cv-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}
.cv-btn:hover{
    background: #000000;
    transition: 0.2s;
    color: rgb(255, 255, 255);
}

.contato{
    min-height: 70vh;
    width: 100%;
    
    background-image: linear-gradient(rgb(112, 5, 5, 0.9),rgb(112, 5, 5, 0.84)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
    display: inline-block;
    text-align: left;

    color: #fff;
    margin: auto;
    padding-top: 50px;
}
.contato h1{
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 500px;
}
.contato p{
    font-size: 25px;
    padding-left: 500px;
}
.emailLink{
    color: #fff;
    font-size: 30px;
}

@media(max-width: 700px){    
    .contato{
        padding-bottom: 30px;
    }
    .contato h1{
        font-size: 40px;
        padding-left: 25px;
    }
    .contato p{
        font-size: 25px;
        padding-left: 25px;
    }
    .emailLink{
        font-size: 25px;
    }
}
.topo-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(112, 5, 5);
    border: 1px solid rgb(112, 5, 5);
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    float: left;
    margin-top: 40px;
}
.topo-btn:hover{
    background: rgb(112, 5, 5);
    transition: 0.2s;
    color: #fff;
}

.topo-btn-final{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    float: left;
    margin-top: 40px;
    margin-left: 500px;
}
.topo-btn-final:hover{
    background: #fff;
    transition: 0.2s;
    color: rgb(83, 83, 83);
}