*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(112, 5, 5, 0.9),rgb(112, 5, 5, 0.84)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 20px;
    font-size: 30px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #ffffff;
    background: #ffffff;
    transition: 0.5s;
    color: rgb(83, 83, 83);
}
nav .fas{
    display: none;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 40px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(112, 5, 5);
        height: 100vh;
        width: 175px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.8s;
    }
    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

.sobre{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;

}
.sobre h1{
    font-size: 40px;
    padding-bottom: 20px;
}
.sobre p{
    font-size: 20px;
}
.sobre img{
    border: 3px solid rgb(112, 5, 5);
}